<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
 		<typeAliases>
 			<typeAlias type="com.springproject.employee.dto.EmployeeDto" alias="EmployeeDto"/>
 			<typeAlias type="com.springproject.department.dto.DepartmentDto" alias="DepartmentDto"/>
 		</typeAliases>        
    </configuration>